body {
  background-color: #F1F1F1;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: auto;
}

header {
  background-color: #ADB5BD;
  width: 100%;
  height: 96px; 
}

header h2 {
  position: absolute;
  top: 14px;
  left: 86px;
  color: #FFF;
}

header img {
  width: 32px;
  height: 32px;
  margin-top: 32px;
  margin-left: 32px;
  display: inline-block;
}

.App {
  width: 100%;
}

.container {
  width: 912px;
  margin-left: 32px;
  display: block;
}

h1 {
  margin-top: 60px;
  margin-bottom: 30px;
  color: #757575;
}

table {
  width: 100%;
}


img.icon:hover {
  cursor: pointer;
}

img.small-icon {
  width: 14px;
  height: 14px;
  float: right;
}

img.icon {
  display: inline-block;
  margin-top: 10px;
  width: 24px;
  height: 24px;
}

.inline-edit {
  height: 100px;
}
.inline-edit > div > input {
  display: inline-block;
  width: 80%;
}

input.error {
  border: 1px solid red;
}

input {
  height: 36px;
  border: solid #F2F2F2 1px;
  padding-left: 10px;
  margin-right: 20px;
  background-color: #F1F1F1;
}
.error-message {
  margin-top: 5px;
  color: red;
  font-size: 12px;
}

.actions button.icon {
  margin: 0;
  padding: 0;
}


.actions button {
  background-color: transparent;
}

button.button.cancel {
  background-color: #EDEDED;
  color: #0077FF;
  margin-right: 20px;
}

button.button {
  background-color: #0077FF;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

button.transparent {
  background-color: transparent;
}

button {
  border: 0;
  height: 40px;
  background-color: #EDEDED;
  font-size: 16px;
  font-weight: 500;
  padding: 0 20px;
  cursor: pointer;
}

table thead th {
  text-align: left;
  color: #757575;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  height: 48px;
  padding: 0 24px;
  cursor: pointer;  
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

table {
  border-collapse: collapse;
  background-color: #fff;
  margin-bottom: 50px;
}

tr {
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

table td {
  color: #505050;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  height: 71px;  
  padding: 0 24px;
}